<h1>{{title}}</h1>

<h2>All reviews</h2>

<form method = "GET">
    <div class="reviewForm">
        <input type="text" name="semesterQ" placeholder="seach by semester">
        <input type="text" name="yearQ" placeholder="search by year">
        <input type="text" name="professorQ" placeholder="search by professor">
        <input type="submit" value="Search">
    </div>
</form>

<table>
  <tr>
    <th>Course Number</th>
    <th>Course Name</th>
    <th>Semester</th>
    <th>Professor</th>
    <th>Review</th>
  </tr>
  {{#each found}}
   <tr>
    <td>{{courseNumber}}</td>
    <td>{{courseName}}</td>
    <td>{{semester}}</td>
    <td>{{professor}}</td>
    <td>{{review}}</td>
  </tr>
  {{/each}}
</table>

{{!-- <p>Error: {{error}}</p> --}}
